html, body {
    background-image: url("images/background.jpg")
}

body {
    font-family:'Times New Roman', Times, serif;
}

/* táblázat */
table, tr, td {
    border: 1px solid rgb(255, 255, 255)
}
table {
    width: 100%;
}
table {
    text-align: center;
}

/* pozíció */
h1 {
    text-align: center;
}

/* szín */
h1, table {
    color: white;
}

/* planet */
.circle {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 330px;
    top: 200px;
    animation: rotateSelf 3s linear infinite;
    transform-origin: 50% 0%;
}

/* planet_rotation */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}